<div class="page-header">
  <h1><%%= t 'admin.edit' %> <%%= t('admin.<%= singular_table_name.gsub("admin_", "") %>.<%= singular_table_name.gsub("admin_", "") %>') %></h1>
</div>

<%%= render 'form' %>
